* {
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: 'Roboto', sans-serif;

    font-size: 1rem;
}

.content-page {
    display: flex;
}

.content-page aside {
    width: 80vw;
    height: 100vh;

    background-image: url('img1.jpg');
    background-size: cover;
}

.content-page main { 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100vw;
    max-height: 100vh;
}

.content-page main .content-main {
    margin-top: 100px;
}

.content-page main .content-main h1 {
    font-size: 1rem;
    font-weight: 500;

    letter-spacing: .4px;

    margin: 3px 0;
}

.content-page main .content-main h2  {
    font-size: 1.9rem;
    font-weight: 900;
    margin: 5px 0;
}

.content-page main .content-main .login h3  {
    font-weight: 400;
    margin: 10px 0 3px 0;
}

.content-page main .content-main .login #email {
    width: 25vw;
    height: 40px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.content-page main .content-main .login h4  {
    font-weight: 400;
    margin: 10px 0 3px 0;
}

.content-page main .content-main .login #senha {
    width: 25vw;
    height: 40px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.content-page main .content-main .login .lembrar-me {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
}

.content-page main .content-main .login .lembrar-me .lembrar {
    display: flex;

    width: 135px;

    align-items: center;

    justify-content: space-between;
}

.content-page main .content-main .login .lembrar-me p a {
    text-decoration: none;

    color: #2C5282;
}

.content-page main .content-main .login #entrar {
    width: 100%;
    height: 7vh;

    background: #04C35C;

    color: white;

    border: none;
    border-radius: 5px;

    margin-bottom: 20px;
}

.content-page main .content-main .login #sign-in-google {
    width: 100%;
    height: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #2D3748;

    color: white;

    border: none;
    border-radius: 5px;
}

.content-page main .content-main .login #sign-in-google p {
    margin-left: 10px;
}

.content-page main #criar-conta {
    text-align: center;

    margin-top: 70px;
}
